body{
    background-image: url(https://avatars.mds.yandex.net/i?id=ec17a85027e655945b3fa5ebf15a5e3e-5258850-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-size: 100%;
}
button{
    color: blue;
}