body{
    text-align: center;
    background-image:url(https://avatars.mds.yandex.net/i?id=7538e4aa7a621fb95165358c7aca3d42-5513323-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-size: 100%;
}
button{
    color: blue;
}