body{
    text-align: center;
    background-image: url(https://avatars.mds.yandex.net/i?id=d409a69057af8cbf62fb079c7f61ed3a78b457fa-5312824-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-size: 100%;
}
button{
    color: brown;
}